*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

body{
  display: grid;
  justify-content: center;

  background-color: #121214;
  padding: 7.2rem 10.4rem;
}

main{
  margin-top: 6.2rem;

  display: grid;
/*  Ou grid-template-columns : repeat(3 , 37rem );  row-gap: 4.8rem ; column:6.0rem ;   */
  grid-template: 44.8rem 44.8rem /37rem 37rem 37rem ;
  gap: 4.8rem 6.0rem;

/*  place-content: center;   Tirei pois ele não centraliza o header*/
}

.card{
  border-radius: 8px;
  border: 2px solid#323238;

  background: #202024;
}

.card h2{
  padding: 2.4rem 3.2rem 0;

  color: #E1E1E6 ;
  font-size: 3.6rem;
  font-weight: 900;
}

.card p{
  padding: 2.4rem 3.2rem 3.2rem;

  color: #C4C4CC;

  font-size: 1.8rem;
  font-weight: 600;
}

.card img{
  border-radius: 0.65rem 0.65rem  0  0;
}

header h1{
  color:  #02799D;

  font-size: 5.6rem;
  font-weight: 900;
  line-height: 7.2rem;
}

header p{
  color: #E1E1E6;

  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.0rem;
}

footer{
  position: fixed;
  top: 1rem;
  right: 2rem;
}

footer > a{

  margin: 3rem auto;
  padding: 2rem;

  color: #fff;
  background-color:#02799D;

  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  
  /*border: 0.4rem solid #fff;*/
  border-radius:  0  0 2rem 2rem;

}